.title {
  color: red;
  font-size: 60px;
}

.paragraph {
  color: green;
  font-size: 25px;
}

h2 {
  color: red;
  font-size: 25px;
}

.table1 table, td {
  border: 5px solid black;
  font-family: TimesNewRoman, “Times New Roman”, Times, Baskerville, Georgia, serif;
  text-align: center;
}

.list {
  color: green;
  font-size: 40px;
}

.each-name {
  color: red;
  font-family: TimesNewRoman;
  font-size: 30px;
}

.apps {
    list-style-type: none;
  }

  .last {
    vertical-align: top;
  }

.table2 table, td {
    border: 1px solid black;
    font-family: TimesNewRoman, “Times New Roman”, Times, Baskerville, Georgia, serif;
    text-align: center;
    color: green;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}


li {
  color: red;
}
